/* main.css */
.content-wrapper {
  margin-top: 0rem;
  height: 100vh;
}

/* Adjust margin for smaller viewports */
@media (max-width: 768px) {
  .content-wrapper {
    margin-top: 0rem;
    height: 100vh;
  }
}
